In [2]:
import tensorflow as tf
from tensorflow.keras.models import load_model
import pickle 
import numpy as np
import pandas as pd

In [3]:
#laod trained model, scalar picke , onehot 
model = load_model('model.h5')
with open("label_encoder_gender.pkl",'rb') as file:
  label_encoder_gender = pickle.load(file)

with open("onehot_encoder_geo.pkl",'rb')as file:
  one_hot_encoder_geo = pickle.load(file)

with open ('scalar.pkl','rb') as file :
  scalar = pickle.load(file)

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [4]:
input_data = {
'CreditScore' : 600,  ## here values are scalar , like 500, france , if it was vector than it would be like [600] so we have to say how many rows to make in data frame while converting dict to dataframe 
'Geography' : 'France',
'Gender': 'Male',
'Age': 40,
'Tenure': 3, 
'Balance' : 60000,
'NumOfProducts': 2, 
'HasCrCard':1,
'IsActiveMember': 1, 
'EstimatedSalary':50000

 }
input_data['Geography']

'France'

In [5]:
geo_encoded = one_hot_encoder_geo.transform([[input_data['Geography']]]).toarray() ##retruns  array
geo_encoded = pd.DataFrame(geo_encoded,columns=one_hot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded

C:\Users\ASUS\AppData\Roaming\Python\Python312\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [6]:
inputDf = pd.DataFrame(input_data, index = [0]) ##index because values in dict are scalars |

In [7]:
input_data = pd.concat([inputDf.drop(["Geography"],axis=1),geo_encoded],axis = 1)
input_data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,Male,40,3,60000,2,1,1,50000,1.0,0.0,0.0

In [8]:
#encode categorical variables  
input_data['Gender'] = label_encoder_gender.transform(input_data['Gender'])
input_data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,1,40,3,60000,2,1,1,50000,1.0,0.0,0.0

In [9]:
input_scaled = scalar.transform(input_data)

In [17]:
prediction = model.predict(input_scaled)
prediction_probab = prediction[0][0]

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 34ms/step

In [20]:
if (prediction_probab >0.5):
  print("the employee is likely to churn")
else:
  print("the employee is not likely to churn")

the employee is not likely to churn